nav {
    color: aliceblue;
    text-shadow: aliceblue;
    width: 120%px;
}

.temp-img {
    width: 50px;
    margin-right: 10px;
  }
.col-md-3{
    display: flex;
    align-items: center;
    justify-content: center;

}
.alert{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin: 0px 0px;
}
footer {
    position: fixed;
    bottom: 0;
    padding: 20px 0px;
    border-top: 1px solid grey;
    width: 100%;
    text-align: center;
  }
/* #demo {
    width: 70%;
    display: flex;
    margin-left: 13%;
} */

.row
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin: 0px 0px;
    
}

footer
{
    
    width: 1450px;
    background-color: rgb(121, 121, 121);
    color: rgb(255, 255, 255);
}
.list-group
{
    background-color: rgb(71, 71, 71);
    color: black;
}
#lista {
    background-color: rgb(99, 160, 112);
    color: black;
}



.img-table{
    width: 50px;
}