#jumbo{
    text-align: center;
    color: rgb(104, 104, 104);
    background-color: rgb(65, 65, 65);
}
#formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin: 0px 0px;
    
    padding: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #ebebeb;
    

}
footer {
    position: fixed;
    bottom: 0;
    padding: 20px 0px;
    border-top: 1px solid grey;
    width: 100%;
    text-align: center;
    background-color: rgb(173, 173, 173);
    color: black;
  }

  table{
      color: rgb(3, 3, 3);
  }

